<html>
<body>
  <head>
    <title>WoT-TP link Control</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    div.a {
        text-align: center;
    }

    div.b {
        text-align: left;
    }

    div.c {
        text-align: right;
    }

    div.d {
        text-align: justify;
    }
    </style>
  </head>
  <body>

<div class="a"> <h2>Welcome to the World of Web of Things !!</h2></div>
<div class="a"><h3>Click the button below to access your first IoT Thing</h3></div>
<br>
<a href = "/bulb">
  <div class="a">
    <button type="button" class="btn btn-warning">TP link Bulb</button>
  </div>
</a>
</body>
</html>
